body {
  background-color: #475c7a;
  margin: 0;
  padding: 0;
}
h1 {
  
  margin: 1rem 0 1rem 0;
}
span {
  color: #FCBB6C;
  background-color: #ab6c82;
}
ol {
  background-color: #d8737f;
  color: white;
}
ul {
  list-style: none;
}
li {
  margin: -4px;
  padding: 2px 0;
}
ol>li:nth-child(even) {
  background-color: #685d79;
  margin: 0;
}
ol>li:nth-child(odd) {
  background-color: #ab6c82;
  margin: 0;
}
ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: gold; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -2em;
}

