body {
  background-color: #475c7a;
  margin: 0;
  padding: 0;
}
.xxxxxxx {
  color : #FCBB6C;
  color : #d8737f;
  color : #ab6c82;
  color : #685d79;
  color : #475c7a;
}
h1 {
  
  margin: 1rem 0 1rem 0;
}
span {
  color: #FCBB6C;
  background-color: #ab6c82;
}
ol {
  background-color: #d8737f;
}
ol>li {
  background-color: #685d79;
  margin: 0;
}
