#div1 p {
	/* 101 */
	color: green;
}
div #x1 {
	/* 101 */
	color: red;
}
.x2 {
	/* 010 */
	color: teal;
}
p #x2 {
	/* 101 */
	color: purple;
}
p > .x2 {
	/* 011 */
	color: maroon;
}
div > span {
	/* 002 */
	color: blue;
}